
.container {

    background-color: rgb(46, 46, 104);
  }
  .calculations{
    border: solid 2 px red;
    background-color: rgb(52, 52, 94);
  }
  .section {
    margin-bottom: 20px;
  }
  
  .section label {
    display: block;
    margin-bottom: 5px;
  }
  
  .section input,
  .section select {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
  }
  
  .section input[type="radio"],
  .section input[type="checkbox"] {
    margin-right: 5px;
  }
  
  .display {
    font-weight: bold;
  }
  .calculation-p{
    display: inline-flex;
  }
.radio-button{
    display: flex;
    flex-direction: column;
}

  .calculate-btn {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
  }